.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: gray;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

/* .backGroundColor {
  background-color: gray;
} */

/* .backGroundColor {
  background-color: gray;
  color: white;
  padding: 2rem;
} */

.paragraphFont{
  font-size: 20px;
  text-align: justify
}